     
<div class="content wow fadeInUp" ng-controller="AboutPageCntrl">	
    <div class="container">
        <div class="row">
            <ul class="breadcrumb text-center light-bg">
                <li><a href="index.html">Home</a></li>
                <li class="active">About Us</li>				
            </ul><!-- /.breadcrumb -->				
        </div><!-- /.row -->
        <div class="about-us inner-top-vs ">
            <div class="image">
                <a data-toggle="modal" data-target=".bs-example-modal-sm" href="#"><img src="assets/images/about-us/1.jpg" alt="" class="img-responsive"></a>
            </div><!-- /.image -->
            <div class='row'>
                <div class="col-md-10 center-block inner-top-vs">
                    <h2 class="center-text text-center"><span>Auckland City Books was established in 1971 and our book shops are in every little town in New Zealand. We stock books on a wide variety of subjects.  </span>
                    </h2>
                </div><!-- /.col -->
            </div>
            <!-- /.best-design-block -->


        </div><!-- /.row -->
    </div><!-- /.container -->	
</div><!-- /.content -->



<!-- Modal -->
<div class="modal fade bs-example-modal-sm about-us-popup" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body">
                <img src="assets/images/about-us/1.jpg" alt="" class="img-responsive">
                <a href="#" data-dismiss="modal" class="remove-icon"><i class="fa fa-times"></i></a>
                <div class="content">
                    <h2>Welcome to the best in modern design</h2>
                    <div class='row inner-top-vs'>
                        <div class='col-md-6'>
                            <p class="text">Ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.</p>
                        </div>
                        <div class='col-md-6'>
                            <p class="text">Sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p> 
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>           
