<div class="content wow fadeInUp" ng-controller="BookDtlPageCntrl">
    <div class="container">
        <div class="row">
            <ul class="breadcrumb text-center">
                <li><a href="#/">Home</a></li>
                <li><a href="#/">Books</a></li>
                <li class="active">Art,Architecture & Photography</li>				
            </ul>

            <div class="divider">
                <img class="img-responsive" src="assets/images/shadow.png" alt="">
            </div><!-- /.divider -->
        </div>
        <div class="row inner-top-xs single-book-block">
            <!-- .primary block -->
            <div class="single-book primary-block">
                <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <div class="book-cover">
                            <img width="268" height="408" alt="" src="assets/images/blank.gif" data-echo="assets/images/book-covers/big-cover1.jpg">
                        </div><!-- /.book-cover -->
                        <div class="share-button">


                            <div class="addthis_native_toolbox inner-top-vs"></div>
                        </div>
                        <div class="list-unstyled link-block inner-top-50">
                            <a href="#customer-reviews" class='customer-review'><i class="icon fa fa-comment"></i><span class="customer-review">Customer Reviews(1) &darr; </span></a>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <div class="featured-book-heading">
                            <h1 class="title">{{data.title.text}}</h1>
                            <p class="singl-book-author">
                                by
                                <a href="#">R.J palacio</a>
                            </p>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <p class="single-book-price">$15.99</p>
                            </div>
                            <div class="col-md-9">
                                <div class="add-cart-button btn-group">
                                    <button class="btn btn-single btn-sm" type="button" data-toggle="dropdown">
                                        <img src="assets/images/add-to-cart.png" alt="">
                                    </button>
                                    <button class="btn btn-single btn-uppercase" type="button">Add to cart</button>
                                </div>
                            </div>
                        </div>


                        <div class="description"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                            <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

                            <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
                                Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p></div>
                    </div>
                </div>
            </div>			    <!-- /.primary block -->

            <div class="divider inner-top-xs">
                <img src="assets/images/shadow.png" class="img-responsive" alt=""/>
            </div>

            <div class="module wow fadeInUp">
                <div class="module-heading home-page-module-heading">
                    <h2 class="module-title home-page-module-title"><span>Related Products</span></h2>
                    <p class="see-all-link"><a href="#">See All</a> &rarr;</p>
                </div>
                <div class="module-body">
                    <div class="row text-center">
                        <!-- .related product -->
                        <div class="col-md-3 col-sm-4">
                            <div class="book">
                                <a href="single-book.html"><div class="book-cover">
                                        <img width="140" height="212" alt="" src="assets/images/blank.gif" data-echo="assets/images/book-covers/01.jpg">
                                    </div></a>
                                <div class="book-details clearfix">
                                    <div class="book-description">
                                        <h3 class="book-title"><a href="single-book.html">The Brief Wondrous Life of  Oscar Wao</a></h3>
                                        <p class="book-subtitle">by <a href="single-book.html">Cormac McCarthy</a></p>
                                    </div>
                                    <div class="actions">
                                        <span class="book-price price">NZ$14.75</span>

                                        <div class="cart-action"> 
                                            <a class="add-to-cart" title="Add to Cart" href="javascript:void(0);">Add to Cart</a>       

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="book">
                                <a href="single-book.html"><div class="book-cover">
                                        <img width="140" height="212" alt="" src="assets/images/blank.gif" data-echo="assets/images/book-covers/02.jpg">
                                    </div></a>
                                <div class="book-details clearfix">
                                    <div class="book-description">
                                        <h3 class="book-title"><a href="single-book.html">Doctor Sleep </a></h3>
                                        <p class="book-subtitle">by <a href="single-book.html">Stephen King</a></p>
                                    </div>
                                    <div class="actions">
                                        <span class="book-price price">NZ$14.45</span>
                                        <div class="cart-action"> 
                                            <a class="add-to-cart" title="Add to Cart" href="javascript:void(0);">Add to Cart</a>       

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="book">
                                <a href="single-book.html"><div class="book-cover">
                                        <img width="140" height="212" alt="" src="assets/images/blank.gif" data-echo="assets/images/book-covers/03.jpg">
                                    </div></a>
                                <div class="book-details clearfix">
                                    <div class="book-description">
                                        <h3 class="book-title"><a href="single-book.html">Wonder Hardcover</a></h3>
                                        <p class="book-subtitle">by <a href="single-book.html">R. J. Palacio</a></p>
                                    </div>
                                    <div class="actions">
                                        <span class="book-price price">NZ$9.59</span>
                                        <div class="cart-action"> 
                                            <a class="add-to-cart" title="Add to Cart" href="javascript:void(0);">Add to Cart</a>       

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="book">
                                <a href="single-book.html"><div class="book-cover">
                                        <img width="140" height="212" alt="" src="assets/images/blank.gif" data-echo="assets/images/book-covers/04.jpg">
                                    </div></a>
                                <div class="book-details clearfix">
                                    <div class="book-description">
                                        <h3 class="book-title"><a href="single-book.html">The Brief Wondrous  Life of Oscar</a></h3>
                                        <p class="book-subtitle">by <a href="single-book.html"> Auckland City Books</a></p>
                                    </div>
                                    <div class="actions">
                                        <span class="book-price price">NZ$12.00</span>
                                        <div class="cart-action"> 
                                            <a class="add-to-cart" title="Add to Cart" href="javascript:void(0);">Add to Cart</a>       

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="book">
                                <a href="single-book.html"><div class="book-cover">
                                        <img width="140" height="212" alt="" src="assets/images/blank.gif" data-echo="assets/images/book-covers/05.jpg">
                                    </div></a>
                                <div class="book-details clearfix">
                                    <div class="book-description">
                                        <h3 class="book-title"><a href="single-book.html">How Dogs Love Us: A  Neuroscientist and His Dog </a></h3>
                                        <p class="book-subtitle">by <a href="single-book.html">Gregory Berns </a></p>
                                    </div>
                                    <div class="actions">
                                        <span class="book-price price">NZ$7.95</span>
                                        <div class="cart-action"> 
                                            <a class="add-to-cart" title="Add to Cart" href="javascript:void(0);">Add to Cart</a>       

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="book">
                                <a href="single-book.html"><div class="book-cover">
                                        <img width="140" height="212" alt="" src="assets/images/blank.gif" data-echo="assets/images/book-covers/10.jpg">
                                    </div></a>
                                <div class="book-details clearfix">
                                    <div class="book-description">
                                        <h3 class="book-title"><a href="single-book.html">From Kant to Husserl</a></h3>
                                        <p class="book-subtitle">by <a href="single-book.html">Cormac McCarthy </a></p>
                                    </div>
                                    <div class="actions">
                                        <span class="book-price price">NZ$101.00</span>
                                        <div class="cart-action"> 
                                            <a class="add-to-cart" title="Add to Cart" href="javascript:void(0);">Add to Cart</a>       

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="book">
                                <a href="single-book.html"><div class="book-cover">
                                        <img width="140" height="212" alt="" src="assets/images/blank.gif" data-echo="assets/images/book-covers/11.jpg">
                                    </div></a>
                                <div class="book-details clearfix">
                                    <div class="book-description">
                                        <h3 class="book-title"><a href="single-book.html">Doctor Sleep</a></h3>
                                        <p class="book-subtitle">by <a href="single-book.html">Stephen King</a></p>
                                    </div>
                                    <div class="actions">
                                        <span class="book-price price">NZ$19.45</span>
                                        <div class="cart-action"> 
                                            <a class="add-to-cart" title="Add to Cart" href="javascript:void(0);">Add to Cart</a>       

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="book">
                                <a href="single-book.html"><div class="book-cover">
                                        <img width="140" height="212" alt="" src="assets/images/blank.gif" data-echo="assets/images/book-covers/12.jpg">
                                    </div></a>
                                <div class="book-details clearfix">
                                    <div class="book-description">
                                        <h3 class="book-title"><a href="single-book.html">Wonder Hardcover</a></h3>
                                        <p class="book-subtitle">by <a href="single-book.html">R.J.Palacio</a></p>
                                    </div>
                                    <div class="actions">
                                        <span class="book-price price">NZ$7.11</span>
                                        <div class="cart-action"> 
                                            <a class="add-to-cart" title="Add to Cart" href="javascript:void(0);">Add to Cart</a>       

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>					    <!-- /.related product -->
                    </div>
                </div>
            </div>

            <div class="divider inner-top-xs">
                <img src="assets/images/shadow.png" class="img-responsive" alt="" />
            </div>

            <div class="module wow fadeInUp" id="customer-reviews">
                <div class="module-heading home-page-module-heading margin-top-10">
                    <h2 class="module-title home-page-module-title "><span>Customer Reviews(1)</span></h2>

                </div>
                <!-- .customer reviews -->
                <div class="module-body inner-top-xs" id="reviews">
                    <ul class="list-unstyled review-list">
                        <li class="box effect">
                            <section class="paper">
                                <div class="tape"></div>
                                <div class="head"></div>
                                <div class="row review-content">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="customer-image-text"><span>A</span></div>

                                    </div>
                                    <div class="col-md-10 col-sm-10">
                                        <h5 class="customer-name inner-right-xs">Auckland City Books</h5>
                                        <p class="posted-date">21 Jun,2015 3:34 pm</p>
                                        <p class="text">Best price and prompt delivery.</p>
                                        <a href="#" class="reply-review">Reply</a> 
                                    </div>
                                </div>
                                <div class="bottom"></div>
                            </section>
                        </li>

                    </ul>
                </div>					<!-- /.customer reviews -->
            </div>

            <!-- ============================================== BEST BOOKS : END ============================================== -->				</aside>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.content -->

