<div class="content wow fadeInUp" ng-controller="BookPageCntrl" >
    <div class="container">
        <div class="row">
            <ul class="breadcrumb text-center">
                <li><a href="index.html">Home</a></li>
                <li class="active">Books</li>
            </ul><!-- /.breadcrumb -->

            <div class="divider">
                <img class="img-responsive" src="assets/images/shadow.png" alt="">
            </div><!-- /.divider -->
        </div><!-- /.row -->

        <div class="row m-t-20 books-with-sidebar">

            <!-- ========================================== SECTION – HERO : END========================================= -->

            <div id="hero1" class='category-slider'>
                <div id="owl-main" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-5 col-sm-12">
                                        <div class="book-in-shelf">
                                            <div class="book-shelf shelf"> 
                                                <div class="book-cover slider-book-cover m-t-20">
                                                    <img class="img-responsive" alt="" src="assets/images/blank.gif" data-echo="assets/images/slider-images/01.png" > 
                                                    <div class="fade"></div>
                                                </div> <!-- /.book-cover -->                        
                                            </div><!-- /.book-shelf -->
                                        </div><!-- /.book-in-shelf -->
                                    </div><!-- /.col -->

                                    <div class="col-md-4 col-sm-12">
                                        <div class="clearfix caption vertical-center text-left">
                                            <div class="slider-caption-heading">
                                                <h1 class="slider-title fadeInDown-1"><span>Auckland City Books:</span><br>What We Can All Do ?</h1>
                                            </div><!-- /.slider-caption-heading -->


                                            <div class="actions fadeInDown-2">
                                                <span class="book-price price">NZ$9.59</span>               
                                                <div class="cart-action"> 
                                                    <a class="add-to-cart" title="Add to Cart" href="" ng-click="addToCart(1)">Add to Cart</a>       
                                                </div>
                                            </div>



                                        </div><!-- /.slider-caption -->
                                    </div><!-- /.col -->


                                </div><!-- /.row -->

                            </div><!-- /.content.caption -->
                        </div><!-- /.container -->
                    </div><!-- /.item -->

                    <div class="item">
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-5 col-sm-12">
                                        <div class="book-in-shelf">
                                            <div class="book-shelf shelf"> 
                                                <div class="book-cover slider-book-cover m-t-20">
                                                    <img class="img-responsive" alt="" src="assets/images/blank.gif" data-echo="assets/images/slider-images/01.png"> 
                                                    <div class="fade"></div>
                                                </div> <!-- /.book-cover -->                        
                                            </div><!-- /.book-shelf -->
                                        </div><!-- /.book-in-shelf -->
                                    </div><!-- /.col -->

                                    <div class="col-md-4 col-sm-12">
                                        <div class="clearfix caption vertical-center text-left">
                                            <div class="slider-caption-heading">
                                                <h1 class="slider-title fadeInDown-1"><span>Auckland City Books:</span><br>What We Can All Do to Save America's</h1>
                                            </div><!-- /.slider-caption-heading -->


                                            <div class="actions fadeInDown-2">
                                                <span class="book-price price">NZ$9.59</span>               
                                                <div class="cart-action"> 
                                                    <a class="add-to-cart" title="Add to Cart" href="" ng-click="addToCart(2)">Add to Cart</a>       
                                                </div>
                                            </div>

                                        </div><!-- /.slider-caption -->
                                    </div><!-- /.col -->


                                </div><!-- /.row -->

                            </div><!-- /.content.caption -->
                        </div><!-- /.container -->
                    </div><!-- /.item -->


                    <div class="item">
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-5 col-sm-12">
                                        <div class="book-in-shelf">
                                            <div class="book-shelf shelf"> 
                                                <div class="book-cover slider-book-cover m-t-20">
                                                    <img class="img-responsive" alt="" src="assets/images/blank.gif" data-echo="assets/images/slider-images/01.png"> 
                                                    <div class="fade"></div>
                                                </div> <!-- /.book-cover -->                        
                                            </div><!-- /.book-shelf -->
                                        </div><!-- /.book-in-shelf -->
                                    </div><!-- /.col -->

                                    <div class="col-md-4 col-sm-12">
                                        <div class="clearfix caption vertical-center text-left">
                                            <div class="slider-caption-heading">
                                                <h1 class="slider-title fadeInDown-1"><span>Auckland City Books:</span><br>What We Can All Do to Save America's</h1>
                                            </div><!-- /.slider-caption-heading -->


                                            <div class="actions fadeInDown-2">
                                                <span class="book-price price">NZ$9.59</span>               
                                                <div class="cart-action"> 
                                                    <a class="add-to-cart" href="" ng-click="addToCart(3)">Add to Cart</a>       
                                                </div>
                                            </div>

                                        </div><!-- /.col -->


                                    </div><!-- /.row -->

                                </div><!-- /.content.caption -->
                            </div><!-- /.container -->
                        </div><!-- /.item -->

                    </div>
                </div>
            </div>








            <div class="module inner-top-sm wow fadeInUp" id="books-by-subject">
                <div class="module-heading home-page-module-heading">
                    <h2 class="module-title home-page-module-title"><span>Books by Subject</span></h2>
                    <p class="see-all-link"><a ng-href="#/">See All</a> &rarr;</p>
                </div><!-- /.module-heading -->

                <div class="module-body">					
                    <div class="row books text-center">
                        <div class="col-md-3 col-sm-4 books-by-subject" ng-repeat="subjectBook in subjectBookList"> 
                            <div class="book">      		
                                <div class="book-cover">
                                    <a href="{{subjectBook.url}}">
                                        <img ng-src="{{subjectBook.image.src}}" width="{{subjectBook.image.width}}" height="{{subjectBook.image.height}}"  alt="{{subjectBook.image.alt}}" />
                                    </a>
                                </div>
                                <div class="book-details clearfix">
                                    <div class="book-description">
                                        <h3 class="book-title"><a ng-href="{{subjectBook.url}}">{{subjectBook.title}}</a></h3>
                                        <p class="item-number">{{subjectBook.numberOfItems}}</p>
                                    </div>
                                </div>
                            </div>              
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.module-body -->

            </div><!-- /.module -->
            <div class="divider">
                <img class="img-responsive" src="assets/images/shadow.png" alt="">
            </div><!-- /.divider -->

            <div class="module margin-top-10 wow fadeInUp" id="books-by-month">
                <div class="module-heading home-page-module-heading">
                    <h2 class="module-title home-page-module-title"><span>Best of the Month</span></h2>
                    <p class="see-all-link"><a ng-href="#/">See All</a> &rarr;</p>
                </div><!-- /.module-heading -->
                <div class="module-body">
                    <div class="row books">
                        <div class="clearfix text-center">
                            <div class="col-md-3 col-sm-4" ng-repeat="monthBook in monthBookList">
                                <div class="book">
                                    <div class="book-cover">
                                        <a href="{{monthBook.url}}">
                                            <img ng-src="{{monthBook.image.src}}" width="{{monthBook.image.width}}" height="{{monthBook.image.height}}"  alt="{{monthBook.image.alt}}" />
                                            <div class="tag">
                                                <span>sale</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="book-details clearfix">
                                        <div class="book-description">
                                            <h3 class="book-title"><a ng-href="{{monthBook.title.url}}">{{monthBook.title.text}} </a></h3>
                                            <p class="book-subtitle">by <a ng-href="{{monthBook.subTitle.url}}">{{monthBook.subTitle.text}}</a></p>
                                        </div>
                                        <div class="actions">
                                            <span class="book-price price">{{monthBook.price}}</span>

                                            <div class="cart-action"> 
                                                <a class="add-to-cart" title="Add to Cart" href="" ng-click="addToCart(monthBook.id)">Add to Cart</a>       

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.col -->



                        </div><!-- /.text-center -->
                    </div><!-- /.row -->
                </div><!-- /.module-body -->
            </div><!-- /.module -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</div>

