          
<div class="footer-content" ng-controller="ContactPageCntrl">
    <div class="contact-form-container">
        <div id="map">

        </div>
        <div class="container">
            <ul class="breadcrumb text-center">
                <li><a href="#/">Home</a></li>
                <li class="active">Contact</li>
            </ul><!-- /.breadcrumb -->

            <div class="row">
                <div class='col-md-10 center-block'>
                    <div class="contact-block">
                        <div class="contact-form-envelope">
                            <div class="contact-box">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <form class="well form-horizontal" action=" " method="post"  id="contact_form">
                                            <fieldset>

                                                <!-- Form Name -->
                                                <legend>Contact Us Today!</legend>

                                                <!-- Text input-->

                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">First Name</label>  
                                                    <div class="col-md-4 inputGroupContainer">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                            <input  name="first_name" placeholder="First Name" class="form-control"  type="text" size="10">
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Text input-->

                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" >Last Name</label> 
                                                    <div class="col-md-4 inputGroupContainer">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                            <input name="last_name" placeholder="Last Name" class="form-control"  type="text">
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Text input-->
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">E-Mail</label>  
                                                    <div class="col-md-4 inputGroupContainer">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                                            <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
                                                        </div>
                                                    </div>
                                                </div>


                                                <!-- Text input-->

                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Phone #</label>  
                                                    <div class="col-md-4 inputGroupContainer">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                                            <input name="phone" placeholder="(845)555-1212" class="form-control" type="text">
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Text input-->

                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Address</label>  
                                                    <div class="col-md-4 inputGroupContainer">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                                            <input name="address" placeholder="Address" class="form-control" type="text">
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Text input-->

                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">City</label>  
                                                    <div class="col-md-4 inputGroupContainer">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                                            <input name="city" placeholder="city" class="form-control"  type="text">
                                                        </div>
                                                    </div>
                                                </div>



                                                <!-- Text area -->


                                                <!-- Success message -->
                                                <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

                                                <!-- Button -->
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label"></label>
                                                    <div class="col-md-4">
                                                        <button type="submit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
                                                    </div>
                                                </div>

                                            </fieldset>
                                        </form>
                                    </div><!-- /.col -->
                                    <div class="col-md-4 col-sm-4">
                                        <section class="contact-detail">
                                            <div class="head-office-address">
                                                <h4 class="title">Head Office</h4>
                                                <address>
                                                    Auckland City Books
                                                </address>
                                                <p class="info"><span>Fax:</span>+64 123 456 789</p>
                                                <p class="info"><span>Tel:</span>+64 123 456 789</p>
                                                <p class="info"><span>E-mail:</span><a href="#">hello@citybooks.com</a></p>
                                            </div>
                                            <hr>

                                            <hr>
                                            <div class="social-connection">
                                                <h4 class="title">Connect with Auckland City Books</h4>
                                                <ul class="social-connection-list list-inline">
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </section>
                                    </div><!-- /.col -->
                                </div><!-- /.row -->
                            </div><!-- /.contact-box -->
                        </div><!-- /.contact-form-envelope -->
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.contact-form-container -->
</div><!-- /.content -->           