<div class="home-page" ng-controller="HomePageCntrl">
    <div class="content">

        <div class="home-slider outer-bottom-vs">
            <!-- ========================================== SECTION – HERO : START ========================================= -->
            <div id="hero">
                <div id="owl-main" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-7 col-sm-12 col-xs-12">
                                        <div class="book-in-shelf">
                                            <div class="book-shelf"> 
                                                <div class="book-cover slider-book-cover bk-cover m-t-20">
                                                    <img class="img-responsive" alt="" src="assets/images/blank.gif" data-echo="assets/images/slider-images/01.png" > 
                                                    <div class="fade"></div>
                                                </div> <!-- /.book-cover -->                        
                                            </div><!-- /.book-shelf -->
                                        </div><!-- /.book-in-shelf -->
                                    </div><!-- /.col -->

                                    <div class="col-md-5 col-sm-12 col-xs-12">
                                        <div class="clearfix caption vertical-center text-left">
                                            <div class="slider-caption-heading">
                                                <h1 class="slider-title">
                                                    <span class="fadeInDown-1 main">Auckland City Books:</span> 
                                                    <span class="fadeInDown-2 sub">What We Can All Do?</span>
                                                </h1>
                                            </div><!-- /.slider-caption-heading -->
                                            <div class="clearfix slider-button hidden-xs fadeInDown-3">
                                                <a class="btn btn-primary btn-uppercase" role="button" ng-href="#/">view more</a>
                                            </div> <!-- /.slider-price -->
                                        </div><!-- /.slider-caption -->
                                    </div><!-- /.col -->


                                </div><!-- /.row -->

                            </div><!-- /.content.caption -->
                        </div><!-- /.container -->
                    </div><!-- /.item -->

                    <div class="item">
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-7 col-sm-12 col-xs-12">
                                        <div class="book-in-shelf">
                                            <div class="book-shelf"> 
                                                <div class="book-cover slider-book-cover bk-cover m-t-20">
                                                    <img class="img-responsive" alt="" src="assets/images/blank.gif" data-echo="assets/images/slider-images/01.png"> 
                                                    <div class="fade"></div>
                                                </div> <!-- /.book-cover -->                        
                                            </div><!-- /.book-shelf -->
                                        </div><!-- /.book-in-shelf -->
                                    </div><!-- /.col -->

                                    <div class="col-md-5 col-sm-12 col-xs-12">
                                        <div class="clearfix caption vertical-center text-left">
                                            <div class="slider-caption-heading">
                                                <h1 class="slider-title">
                                                    <span class="fadeInDown-1 main">Auckland City Books:</span> 
                                                    <span class="fadeInDown-2 sub">What We Can All Do?</span>
                                                </h1>
                                            </div><!-- /.slider-caption-heading -->
                                            <div class="clearfix slider-button hidden-xs fadeInDown-3">
                                                <a class="btn btn-primary btn-uppercase" role="button" ng-href="#/">view more</a>
                                            </div> <!-- /.slider-price -->
                                        </div><!-- /.slider-caption -->
                                    </div><!-- /.col -->


                                </div><!-- /.row -->

                            </div><!-- /.content.caption -->
                        </div><!-- /.container -->
                    </div><!-- /.item -->


                    <div class="item">
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-7 col-sm-12 col-xs-12">
                                        <div class="book-in-shelf">
                                            <div class="book-shelf"> 
                                                <div class="book-cover slider-book-cover bk-cover m-t-20">
                                                    <img class="img-responsive" alt="" src="assets/images/blank.gif" data-echo="assets/images/slider-images/01.png"> 
                                                    <div class="fade"></div>
                                                </div> <!-- /.book-cover -->                        
                                            </div><!-- /.book-shelf -->
                                        </div><!-- /.book-in-shelf -->
                                    </div><!-- /.col -->

                                    <div class="col-md-5 col-sm-12 col-xs-12">
                                        <div class="clearfix caption vertical-center text-left">
                                            <div class="slider-caption-heading">
                                                <h1 class="slider-title">
                                                    <span class="fadeInDown-1 main">Auckland City Books:</span> 
                                                    <span class="fadeInDown-2 sub">What We Can All Do?</span>
                                                </h1>
                                            </div><!-- /.slider-caption-heading -->
                                            <div class="clearfix slider-button hidden-xs fadeInDown-3">
                                                <a class="btn btn-primary btn-uppercase" role="button" ng-href="#/">view more</a>
                                            </div> <!-- /.slider-price -->
                                        </div><!-- /.slider-caption -->
                                    </div><!-- /.col -->


                                </div><!-- /.row -->

                            </div><!-- /.content.caption -->
                        </div><!-- /.container -->
                    </div><!-- /.item -->

                </div><!-- /# owl-main -->
            </div><!-- /#hero -->
            <!-- ========================================== SECTION – HERO : END ========================================= -->		</div><!-- /.home-slider -->

        <div class="container">
            <!-- ============================================== BANNERS ============================================== -->
            <div class="wide-banners wow fadeInUp">
                <div class="row">

                    <div class="col-md-4 col-sm-6">
                        <div class="wide-banner cnt-strip">	
                            <div class="strip strip-text">
                                <div class="strip-inner text-center">
                                    <h2 class="title">Shop Sale</h2>
                                    <p class='subtitle'>The sale don't stop up to 75% off!</p>	
                                </div><!-- /.strip-inner -->	
                            </div><!-- /.strip -->
                        </div><!-- /.wide-banner -->
                    </div><!-- /.col -->

                    <div class="col-md-4 hidden-sm">

                        <div class="wide-banner cnt-strip">
                            <div class="image">
                                <img class="img-responsive" src="assets/images/wide-banners/banner1.png" alt="">
                            </div>
                            <div class="strip on-strip strip-text">
                                <div class="strip-inner text-center">
                                    <h2 class="title">Latest Products</h2>
                                    <p class='subtitle'>New Arrivals</p>	
                                </div><!-- /.strip-inner -->	
                            </div><!-- /.strip -->

                        </div><!-- /.wide-banner -->

                    </div><!-- /.col -->

                    <div class="col-md-4 col-sm-6">
                        <div class="wide-banner cnt-strip">
                            <div class="strip strip-text">
                                <div class="strip-inner text-center">
                                    <h2 class="title">Read the blog</h2>
                                    <p class='subtitle'>Latest hot news</p>	
                                </div><!-- /.strip-inner -->	
                            </div><!-- /.strip -->

                        </div><!-- /.wide-banner -->
                    </div><!-- /.col -->



                </div><!-- /.row -->
            </div><!-- /.wide-banners -->
            <!-- ============================================== BANNERS : END ============================================== -->
            <div class="divider inner-vs">
                <img class="img-responsive" src="assets/images/shadow.png" alt="">
            </div><!-- /.divider -->

            <!-- ============================================== BEST SELLER ============================================== -->
            <section class="best-seller wow fadeInUp">
                <div id="best-seller" class="module">
                    <div class="module-heading home-page-module-heading">
                        <h2 class="module-title home-page-module-title"><span>Bestsellers</span></h2>
                    </div><!-- /.module-heading -->
                    <div class="module-body">
                        <div class="row books full-width">
                            <div class="clearfix text-center">
                                <div class="col-md-3 col-sm-6">
                                    <div class="book">
                                        <a href="single-book.html">
                                            <div class="book-cover">
                                                <img width="140" height="212" alt="" src="assets/images/blank.gif" data-echo="assets/images/book-covers/01.jpg">
                                                <div class="tag">
                                                    <span>sale</span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="book-details clearfix">
                                            <div class="book-description">
                                                <h3 class="book-title"><a href="single-book.html">The Brief Wondrous Life of  Oscar Wao</a></h3>
                                                <p class="book-subtitle">by <a href="single-book.html"> Cormac McCarthy</a></p>
                                            </div>
                                            <div class="text-center">
                                                <div class="actions">
                                                    <span class="book-price price">NZ$14.75</span>               
                                                    <div class="cart-action"> 
                                                        <a class="add-to-cart" title="Add to Cart" href="javascript:void(0);">Add to Cart</a>       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6">
                                    <div class="book">
                                        <a href="single-book.html"><div class="book-cover">
                                                <img width="140" height="212" alt="" src="assets/images/blank.gif" data-echo="assets/images/book-covers/02.jpg">
                                            </div></a>
                                        <div class="book-details clearfix">
                                            <div class="book-description">
                                                <h3 class="book-title"><a href="single-book.html">Doctor Sleep </a></h3>
                                                <p class="book-subtitle">by <a href="single-book.html"> Stephen King</a></p>
                                            </div>
                                            <div class="text-center">
                                                <div class="actions">
                                                    <span class="book-price price">NZ$14.45</span>
                                                    <div class="cart-action"> 
                                                        <a class="add-to-cart" title="Add to Cart" href="single-book.html">Add to Cart</a>       

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6">
                                    <div class="book">
                                        <a href="single-book.html"><div class="book-cover">
                                                <img width="140" height="212" alt="" src="assets/images/blank.gif" data-echo="assets/images/book-covers/03.jpg">
                                            </div></a>
                                        <div class="book-details clearfix">
                                            <div class="book-description">
                                                <h3 class="book-title"><a href="single-book.html">Wonder Hardcover</a></h3>
                                                <p class="book-subtitle">by <a href="single-book.html"> R. J. Palacio</a></p>
                                            </div>
                                            <div class="text-center">
                                                <div class="actions">
                                                    <span class="book-price price">NZ$9.59</span>
                                                    <div class="cart-action"> 
                                                        <a class="add-to-cart" title="Add to Cart" href="single-book.html">Add to Cart</a>       

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6">
                                    <div class="book">
                                        <a href="single-book.html"><div class="book-cover">
                                                <img width="140" height="212" alt="" src="assets/images/blank.gif" data-echo="assets/images/book-covers/04.jpg">
                                            </div></a>
                                        <div class="book-details clearfix">
                                            <div class="book-description">
                                                <h3 class="book-title"><a href="single-book.html">The Brief Wondrous  Life of Oscar</a></h3>
                                                <p class="book-subtitle">by <a href="single-book.html"> Auckland City Books</a></p>
                                            </div>
                                            <div class="text-center">
                                                <div class="actions">
                                                    <span class="book-price price">NZ$12.00</span>
                                                    <div class="cart-action"> 
                                                        <a class="add-to-cart" title="Add to Cart" href="single-book.html">Add to Cart</a>       

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6">
                                    <div class="book">
                                        <a href="single-book.html"><div class="book-cover">
                                                <img width="140" height="212" alt="" src="assets/images/blank.gif" data-echo="assets/images/book-covers/05.jpg">
                                            </div></a>
                                        <div class="book-details clearfix">
                                            <div class="book-description">
                                                <h3 class="book-title"><a href="single-book.html">How Dogs Love Us: A  Neuroscientist and His Dog </a></h3>
                                                <p class="book-subtitle">by <a href="single-book.html"> Gregory Berns </a></p>
                                            </div>
                                            <div class="text-center">
                                                <div class="actions">
                                                    <span class="book-price price">NZ$7.95</span>
                                                    <div class="cart-action"> 
                                                        <a class="add-to-cart" title="Add to Cart" href="single-book.html">Add to Cart</a>       

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="view-more-holder col-md-12 center-block text-center inner-top-xs">
                                <a role="button" class="btn btn-primary btn-uppercase" ng-href="#/">view more

                                </a>
                            </div>



                        </div>
                    </div>
                </div>
            </section>
            <!-- ============================================== BEST SELLER : END ============================================== -->		</div><!-- /.container -->

        <section class="latest-product wow fadeInUp">
            <div id="latest-product" class="module container inner-top-xs">
                <div class="module-heading home-page-module-heading inner-bottom-vs">
                    <h2 class="module-title home-page-module-title"><span>Latest products</span></h2>
                </div>
                <div class="module-body">
                    <!-- ============================================== LATEST PRODUCT ============================================== -->

                    <div class="book-shelf inner-bottom glass-shelf">
                        <div class="row">
                            <div class="col-md-10 col-sm-10 center-block clearfix">
                                <div class="col-md-3 col-sm-4">						                
                                    <div class="book-cover bk-cover product-book-cover">
                                        <img class="img-responsive" alt="" src="assets/images/blank.gif" data-echo="assets/images/book-covers/06.jpg" width="182" height="273" > 
                                        <div class="fade"></div>
                                    </div> <!-- /.book-cover -->                        		                		  
                                </div><!-- /.col -->
                                <div class="col-md-3 col-sm-4 hidden-xs">
                                    <div class="book-cover bk-cover product-book-cover">
                                        <img class="img-responsive" alt="" src="assets/images/blank.gif" data-echo="assets/images/book-covers/07.jpg" width="182" height="273"> 
                                        <div class="fade"></div>
                                    </div> <!-- /.book-cover -->     
                                </div><!-- /.col -->
                                <div class="col-md-3 col-sm-4 hidden-xs">
                                    <div class="book-cover bk-cover product-book-cover">
                                        <img class="img-responsive" alt="" src="assets/images/blank.gif" data-echo="assets/images/book-covers/08.jpg" width="182" height="273"> 
                                        <div class="fade"></div>
                                    </div> <!-- /.book-cover -->     
                                </div><!-- /.col -->
                                <div class="col-md-3 hidden-sm hidden-xs">
                                    <div class="book-cover bk-cover product-book-cover">
                                        <img class="img-responsive" alt="" src="assets/images/blank.gif" data-echo="assets/images/book-covers/09.jpg" width="182" height="273"> 
                                        <div class="fade"></div>
                                    </div> <!-- /.book-cover -->     
                                </div><!-- /.col -->	
                            </div>
                        </div>
                    </div>



                    <!-- ============================================== LATEST PRODUCT : END ============================================== -->
                </div>
            </div>
        </section>

    </div><!-- /.content -->
</div><!-- /.home-page -->   